.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.filtrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.cartas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    margin-bottom: 25px;
}

.imagen {
    width: 30px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.371);
    border-radius: 15px;
}

.input {
    width: 150px;
    padding: 0;
    margin: 0;
    font-family: OCR A Std, monospace;
    font-weight: 300;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 20px;
    color: #000000;
}

::placeholder {
    color: #000000;
}

.paginado {
    display: flex;
    align-items: center;
    gap: 45px;
}

.boton {
    font-family: OCR A Std, monospace;
    width: 100px;
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0;
    background-color: #dcb430;
    border: none;
    border-bottom: 3px solid #2864b4;
    color: white;
    padding: 10px;
}

.boton:hover {
    transition: 0.5s;
    color: #dcb430;
    background-color: white;
    border-bottom-color: #dcb430;
}

.texto {
    font-family: OCR A Std, monospace;
    font-size: 20px;
    font-weight: 600;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: rgb(81, 203, 97);
    border-bottom: 3px solid #387c4f;
}

.cargando {
    padding-top: 3.5%;
}