.container{ 
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.img {
    padding: 0px;
    margin: 0px;
}

.link {
    filter: sepia(100%);
    padding: 0px;
    margin: 0px;
}

.link:hover {
    filter: contrast(10%);
    filter: sepia(0%);
    transition: 1s;
}