.navBar {
    margin: 0;
    padding: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.657);
}

.logo {
    max-width: 150px;
}

.link {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 30px;
    font-family: 'Pokemon Solid', sans-serif;
    text-shadow: -2px 2px 3px #3948bb,
                2px 2px 3px #3948bb,
                2px -2px 3px #3948bb,
                -2px -2px 3px #3948bb;
}

.link:hover {
    color: rgb(255, 200, 0);
}

@media screen and (max-width: 700px) {
    .logo {
        max-width: 120px;
    }
    
    .link {
        font-size: 20px;
    }
}