.container {
    display: flex;
    margin: 15px 0 15px 0;
    gap: 15px;
}

.select {
  text-align: center;
    font-family: OCR A Std, monospace;
    width: 130px;
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0;
    background-color: #dcb430;
    border: none;
    border-bottom: 3px solid #2864b4;
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:hover {
  transition: 0.5s;
  color: #dcb430;
  background-color: white;
  border-bottom-color: #dcb430;
}